<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>584561099831-uq4bh8nm8ca66iloaroonb88utc5hemu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584561099831-uq4bh8nm8ca66iloaroonb88utc5hemu</string>
	<key>API_KEY</key>
	<string>AIzaSyBln1EMFPjeZ48_umpPgbEYgDWmLfiqDTE</string>
	<key>GCM_SENDER_ID</key>
	<string>584561099831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>manan-CMPT276.Pearing-Up</string>
	<key>PROJECT_ID</key>
	<string>pearingup</string>
	<key>STORAGE_BUCKET</key>
	<string>pearingup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584561099831:ios:b27c3e5e73bd7d80</string>
	<key>DATABASE_URL</key>
	<string>https://pearingup.firebaseio.com</string>
</dict>
</plist>